@model LicenseItemModel;

<form asp-controller="License" asp-action="Update" enctype="multipart/form-data" method="post">

    <div class="mb-3" style="display:none;">
        <label asp-for="licenseid" class="form-label"> LicenseID</label>
        <input asp-for="licenseid" type="text" class="form-control" readonly>
    </div>

    <div class="mb-3">
        <label asp-for="name" class="form-label">Name of License Holder</label>
        <input asp-for="name" type="text" class="form-control">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="address" class="form-label">Address</label>
        <input asp-for="address" type="text" class="form-control">
        <span asp-validation-for="address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="licenseoffice" class="form-label">License Office</label>
        <input asp-for="licenseoffice" type="text" class="form-control">
        <span asp-validation-for="licenseoffice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="dob" class="form-label">Date Of Birth</label>
        <input asp-for="dob" type="text" class="form-control">
        <span asp-validation-for="dob" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="fathername" class="form-label">Name of Father</label>
        <input asp-for="fathername" type="text" class="form-control">
        <span asp-validation-for="fathername" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="citizenshipno" class="form-label">Citizenship Number</label>
        <input asp-for="citizenshipno" type="text" class="form-control">
        <span asp-validation-for="citizenshipno" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="contactno" class="form-label">Contact Number</label>
        <input asp-for="contactno" type="text" class="form-control">
        <span asp-validation-for="contactno" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="doi" class="form-label">Date of issue</label>
        <input asp-for="doi" type="text" class="form-control">
        <span asp-validation-for="doi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="doe" class="form-label">Date of expiry</label>
        <input asp-for="doe" type="text" class="form-control">
        <span asp-validation-for="doe" class="text-danger"></span>
    </div>
   
    <div class="mb-3">
        <label asp-for="category" class="form-label">Category</label>
        <input asp-for="category" type="text" class="form-control">
        <span asp-validation-for="category" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
        <a asp-action="index" class="btn btn-dark">Back</a>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")